/* ==== Variables ==== */
:root {
    --surfaceColor: #121212;
    --secondSurfaceColor:#ffffff16;
    --primaryColor: #a8b4f4;
    --secondaryColor: #a7eba4;
    --cardColor: #ffffff09;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* ==== General Appearance ==== */
:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--surfaceColor);
    color: white;
    font-size: 16px;
}

h1{
    color:var(--primaryColor);
    font-size:18px;
    font-weight:500;
}
h3,h4{
    color:var(--secondaryColor);
    font-weight:600;
}

#sidebar,
.card {
    background-color: var(--cardColor);
}

#sidebar {
    background-color: var(--secondSurfaceColor);
}