@media only screen and (min-width:768px) {
    /* ==== LAYOUT ==== */
    #layout{
        display:grid;
        grid-template: 100px 1fr/20% 1fr;
    }
    #header {
        grid-area: 1/2/2/-1;
    }
    #sidebar {
        grid-area: 1/1/-1/2;
    }
    #content {
        grid-area: 2/2/-1/-1;
    }

    /* ==== HEADER ==== */
   
    /* ==== SIDEBAR ==== */
    
    /* ==== CONTENT ==== */
    #content{
        display:grid;
        grid-template: fit-content(60px) 1fr fit-content(60px) 1fr / 3fr 1fr;
        margin:0;
        padding:20px;
        gap:20px;
    }

    #project-header{
        grid-area:1/1/2/2;
    }
    #project-grid{
        grid-area:2/1/-1/2;
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    }
    .card{
        height:fit-content;
    }

    /* ==== Shown in Desktop View ==== */
    #sidebar.hidden{
        display:block;
    }

    /* ==== Hidden in Desktop View ==== */
    #toggle-sidebar,
    #update-buttons-mobile {
        display: none;
    }
}