/* ==== General ==== */
h1{
    margin:30px 5% 15px;
    text-align:center;
}

button{
    padding:0;
    border-radius:20%;
    border:0;
}
img{
    display:block;
}

/* ==== LAYOUT ==== */
#layout{
    margin:5% 5%;
}

/* ==== HEADER ==== */
#header{

}
#toggle-sidebar {
    background:none;
}
#search{
    display:flex;
    background-color:white;
    border-radius:10px;
    padding:5px 10px;
}
#search img{
    width:30px;
}
#search input{
    flex-grow:1;
}


/* ==== SIDEBAR ==== */
#sidebar{
    width:100%;
}

/* ==== CONTENT ==== */
#project-grid, #announcements-grid,#trending-grid{
    display:grid;
    gap:20px;
}
.card{
    padding:5%;
    text-align: justify;
    text-justify: inter-word;
}

/* ==== Hidden in Mobile View ==== */
#update-buttons-desktop,.hidden,#username{
    display:none;
}

